<head>
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">

  {{! variables from app.js res.render
      title          = String
      useCDN         = Boolean
      databaseResult = Object }}

  <title>{{ title }}</title>

  {{! bookmark icon link }}
  <link rel="apple-touch-icon" href="icons/apple-touch-icon.png" />

  {{! css }}
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />

  {{>scripts}}

</head>

<body>
  <div id='wrapper'>
    <div id='hid-transform-alert'>
      Please update your browser or phone to continue!
    </div>

    <div id="images">
      {{#each databaseResult }}
        <img  title={{filename}}
              src='{{url}}'
              id={{dom_id}}
              class='wallPic'
              style='z-index: {{zindex}}; top: {{postop}}; left: {{posleft}}; width: {{width}}; height: {{height}}; transform: {{transform}}; opacity: {{opacity}}; -webkit-filter: {{filter}};'
              data-scale='{{scale}}'
              data-angle='{{angle}}'
              data-rotateX='{{rotateX}}'
              data-rotateY='{{rotateY}}'
              data-rotateZ='{{rotateZ}}'
              data-link='{{igram-link}}'
              data-owner='{{owner}}'>
      {{/each}}

    </div>

    {{! main button }}
    <div id='nav-toggle-button-container'>
      <button id='nav-tog-button' data-action='main-nav-click'>
        <div id='ham-line1'>
        </div>
        <div id='ham-line2'>
        </div>
        <div id='ham-line3'>
        </div>
      </button>
    </div>

    {{! nav containers }}
    <div id='nav-main-container'>
      {{#repeat 5}}
      <div id='n{{@index}}' class='button-no-show'>
      </div>
      {{/repeat}}
    </div>

    <div id='nav-account-container'>
      {{#repeat 5}}
      <div id='a{{@index}}' class='button-no-show'>
      </div>
      {{/repeat}}
    </div>

    <div id='nav-tools-container'>
      {{#repeat 5}}
      <div id='t{{@index}}' class='button-no-show'>
      </div>
      {{/repeat}}
    </div>

    <div id='nav-upload-container'>
      {{#repeat 5}}
      <div id='u{{@index}}' class='button-no-show'>
      </div>
      {{/repeat}}

      <form id='upload-form-button' name='title' method='post' enctype='multipart/form-data' action='addfile/' runat='server'>
         <div class='btn-file button button-tools'> device
           <img class='nav-button-icon' src='/icons/upload-icon.png'>
           <input id='fileselect' type='file' name='session_id_goes_here'>
         </div>
      </form>
    </div>

    <div id='connect-info' class='connect-info'></div>
    {{>upload-download-previews}}

    {{!>experimental}}
    {{>igram}}
  </div>

  {{>info_and_privacy}}

  {{! main script }}
  <script>var useIGram = {{useIGram}}; </script>
  <script src="js/bundle.js"></script>
</body>
