<head>
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">

  {{! variables from app.js res.render
      title          = String
      useCDN         = Boolean
      databaseResult = Object }}

  <title>{{ title }}</title>

  {{! bookmark icon link }}
  <link rel="apple-touch-icon" href="icons/apple-touch-icon.png" />

  {{! css }}
  <link rel="stylesheet" type="text/css" href="/css/style.css" />

  {{>scripts}}

</head>

<body>
  <div id='wrapper'>
    <div id='info-update-message'>
      Please update your browser or phone to continue!
    </div>

    <div id="images">
      {{#each databaseResult }}
        <img  title={{filename}}
              src='{{location}}{{filename}}'
              id={{dom_id}}
              class='wallPic'
              style='z-index: {{zindex}}; top: {{postop}}; left: {{posleft}}; width: {{width}}; height: {{height}}; transform: {{transform}}; opacity: {{opacity}}; -webkit-filter: {{filter}}; position: absolute;'
              data-scale='{{scale}}'
              data-angle='{{angle}}'
              data-rotateX='{{rotateX}}'
              data-rotateY='{{rotateY}}'
              data-rotateZ='{{rotateZ}}'
              data-link='{{insta_link}}'>
      {{/each}}

    </div>

    {{! main button }}
    <div id='nav-toggle-button-container'>
      <button id='nav-tog-button' data-action='main-nav-click'>
        <div id='ham-line1'>
        </div>
        <div id='ham-line2'>
        </div>
        <div id='ham-line3'>
        </div>
      </button>
    </div>

    {{! nav containers }}
    <div id='nav-main-container'>
      {{#repeat 5}}
      <div id='n{{@index}}' class='button-no-show'>
      </div>
      {{/repeat}}
    </div>

    <div id='nav-account-container'>
      {{#repeat 5}}
      <div id='a{{@index}}' class='button-no-show'>
      </div>
      {{/repeat}}
    </div>

    <div id='nav-tools-container'>
      {{#repeat 5}}
      <div id='t{{@index}}' class='button-no-show'>
      </div>
      {{/repeat}}
    </div>


    <div id='nav-upload-container'>
      {{#repeat 5}}
      <div id='u{{@index}}' class='button-no-show'>
      </div>
      {{/repeat}}

      <form id='upload-form-button' name='title' method='post' enctype='multipart/form-data' action='addfile/' runat='server'>
         <div class='btn-file button button-tools'> device
           <img class='button-icon' src='/icons/upload-icon.png'>
           <input id='fileselect' type='file' name='session_id_goes_here'>
         </div>
      </form>
    </div>


    <div id='upload-preview-container' class='rainbow-border'>
      <img id='image-upload-preview' src='/icons/1x1.png'/>
      <div id='upload-confirm-container'>
        <div id='button-confirm-upload' class='button-confirmer confirm-yes' data-action='upload-confirm'> Confirm Upload </div>
        <div id='button-reject-upload' class='button-confirmer confirm-no' data-action='upload-reject'> Cancel </div>
      </div>
      <div id='upload-confirm-info'> </div>
    </div>

    <div id='delete-preview-container' class='rainbow-border'>
      <img id='image-delete-preview' src='/icons/1x1.png'/>
      <div id='delete-confirm-container'>
        <div id='button-confirm-delete' class='button-confirmer confirm-yes' data-action='delete-confirm'> Confirm Delete </div>
        <div id='button-reject-delete' class='button-confirmer confirm-no' data-action='delete-reject'> Cancel </div>
      </div>
      <div id='delete-confirm-info'></div>
    </div>

    <div id='explore-container'>
      <div id='explore-image-container'>
        <img id='image-explore' src='/icons/1x1.png'/>
      </div>
      <div id='button-explore-left' class='button-explore'>
        <img class='icon-x button-icon' src='/icons/x-icon.png'>
      </div>
      <div id='button-explore-right' class='button-explore'>
        <img class='icon-x button-icon' src='/icons/x-icon.png'>
      </div>
      <div id='explore-info-container'>
        <a id='insta_link'> <div id='insta-link-text'> instagram link </div>
        </a>
      </div>
      <div id='x-explore-container' data-action='close-explore'>
        <img class='icon-x button-icon' src='/icons/x-icon.png'>
      </div>
    </div>

    <a id='insta-profile-link'>
    <div id='insta-header'>
      <div id='insta-info-username'></div>
      <div id='insta-image-profile-container'>
        <img id='insta-image-profile' src='/icons/1x1.png'/>
      </div>
    </div>
  </a>
    <div id='insta-container'>
      <div id='insta-images-container'></div>
      <div id='background-opacity'></div>
    </div>


    <div id='connect-info' class='connect-info'></div>

    {{>draggers_switch_panel}}

    {{>draggers}}

  </div>

  {{>info_and_privacy}}

  {{! main script }}
  <script>var useIGram = {{useIGram}}; </script>
  <script src="js/bundle.js"></script>
</body>
